//[clinical](../../../index.md)/[com.hartwig.actin.clinical.feed.standard](../index.md)/[EhrAllergy](index.md)/[verificationStatus](verification-status.md)

# verificationStatus

[JVM]\
val [verificationStatus](verification-status.md): [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html)
