---
title: verificationStatus
---
//[clinical](../../../index.html)/[com.hartwig.actin.clinical.feed.standard](../index.html)/[EhrAllergy](index.html)/[verificationStatus](verification-status.html)



# verificationStatus



[JVM]\
val [verificationStatus](verification-status.html): [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html)




